*{
    background: rgb(2, 2, 2);
}
 
.butt{
    display: flex;
    align-items: center;
    justify-content: center;  
}

button{
    margin-top: 60px;
    color: rgb(211, 39, 48);
    background: rgb(2, 2, 2);
    height: 60px;
    width: 100px;
    margin-left: 20px;
}

.timer{
    padding-top: 50px;
    font-size: 40px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-line{
    font-weight: 400%;
    margin-top: 40px;
    margin-right: 200px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 187, 0);
}