*{
    background: rgb(2, 2, 2);
}

Button{
    margin-top: 20px;
    margin-left: 23em;
    color: rgb(211, 39, 48);
    background: rgb(2, 2, 2);
    height: 60px;
    width: 80px;
}
h1{
    padding-top: 50px;
    margin-left: 21.2em;
    color: red;
}
.timer-line{
    margin-top: 20px;
    height: 30px;

    background-color: rgb(255, 187, 0);
}