body{
    background: rgb(2, 2, 2);
}
 
.butt{
    display: flex;
    align-items: center;
    justify-content: center;  
}

button{
    margin-top: 60px;
    color: rgb(211, 39, 48);
    background: rgb(2, 2, 2);
    height: 60px;
    width: 100px;
    margin-left: 20px;
}

.blok{
    color: rgb(3, 3, 3);
    font-size: 40px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
}
.timer{
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    background: red;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.timer-line{
    margin-top: 40px;
    margin-right: 20px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 187, 0);
}